{%extends '_layouts/default.njk'%}

{%block body%}
  <div class="content">
    <strong>Olá, {{user.name}}</strong>
    <p>Confira seus agendamentos</p>

  {%for appointment in appointments%}
    <div class="client">
      <div class="wrapper">
        <img src="/file/{{appointment.user.avatar}}">
        <strong>{{appointment.user.name}}</strong>
      </div>
      <div class="hour">
        <strong>{{appointment.date }}</strong>
      </div>
    </div>
  {%endfor%}
  </div>
{%endblock%}

