{%extends '_layouts/default.njk'%}

{%block body%}
  <div class="content">
    <strong>Olá, {{user.name}}</strong>
    <p>Confira seus agendamentos</p>

    <div class="client">
      <div class="wrapper">
        <img src="/file/{{user.avatar}}">
        <strong>{{user.name}}</strong>
      </div>
      <div class="hour">
        <strong>20/01/2019 15:00:00</strong>
      </div>
    </div>

  </div>
{%endblock%}

